* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

form {
  /* border: 1px solid red; */
  margin: 2em auto;
  text-align: left;
  width: 70%;
}
form input {
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 1em .5em;
  width: 20%;
}
form input::placeholder {
  color: #ccc;
}
form button {
  display: block;
  background: linear-gradient(to bottom, #fff,pink);
  border: none;
  border-radius: 6px;
  color: #000;
  letter-spacing: 1px;
  padding: 1em;
  text-transform: uppercase;
  transition: .6s;
}
form button:hover {
  background: linear-gradient(to bottom, #fff, red);
  cursor: pointer;
}
.map-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item {
  margin: 1em 0;
}
.close {
  color: red;
  cursor: pointer;
}